{%- unless template == 'index' or template == 'cart' -%}
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

  {% for link in linklists.main-menu.links %}
  	{% if link.child_active or link.active %}
		<span aria-hidden="true">›</span>
  		<a href="{{ link.url }}">
    		{{ link.title | escape }}
  		</a>
  	
  	{% for clink in link.links %}
	{% if clink.child_active or clink.active %}
  		<span aria-hidden="true">›</span>
  			<a href="{{ clink.url }}">
    		{{ clink.title | escape }}
  			</a>

  		{% for gclink in clink.links %}
		{% if gclink.child_active or gclink.active %}
  		<span aria-hidden="true">›</span>
              <a href="{{ gclink.url }}" >
              {{ gclink.title | escape }}
         	 </a>

  		{% endif %}
  		{%- endfor -%}

  	{% endif %}
  	{%- endfor -%}

  {% endif %}
  {%- endfor -%}

</nav>
{%- endunless -%}
